.semantic-orange {
    color: #f26202
}

.background-container {
    background-image: url(./resources/splash.jpg);
    height:100vh;
    width:100vw;
}

.splash-header-desktop {
    font-size: 10em;
    font-weight: normal;
    margin-bottom: 0;
    padding-top: 10vh;
    padding-left: 10vw;
    color: white;
}

.splash-secondary-desktop {
    font-size: 3em;
    font-weight: normal;
    margin-top:  10vh;
    padding-left: 10vw;;
    color: white;
}
